In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# Join ada 4 Jenis:

- Inner Join
- Left Join
- Right Join
- Cross Join

Terdapat Join ke diri Sendiri yang disebut Self Join

## 1. INNER JOIN

<img src="http://www.mysqltutorial.org/wp-content/uploads/2011/05/MySQL-INNER-JOIN-Venn-Diagram-300x166.png" />

<img src="http://www.mysqltutorial.org/wp-content/uploads/2017/07/MySQL-Join-inner-join-illustration.png" />

<img src="http://www.mysqltutorial.org/wp-content/uploads/2011/05/products_and_product_lines_tables.png" />

In [ ]:
run("""
SELECT 
    productCode, 
    productName, 
    textDescription
FROM
    products t1
        INNER JOIN
    productlines t2 ON t1.productline = t2.productline
""")

## USING

In [ ]:
run("""
SELECT 
    productCode, 
    productName, 
    textDescription
FROM
    products
        INNER JOIN
    productlines USING (productline)
""")

## Kombinasi dengan GROUP BY

<img src="http://www.mysqltutorial.org/wp-content/uploads/2011/05/orders_order_details_tables.png" />

In [ ]:
run("""
SELECT 
    T1.orderNumber,
    status,
    SUM(quantityOrdered * priceEach) total
FROM
    orders AS T1
        INNER JOIN
    orderdetails AS T2 ON T1.orderNumber = T2.orderNumber
GROUP BY orderNumber
""")

## Join dengan Operasi Perbandingan Lain

In [ ]:
run("""
SELECT 
    orderNumber, 
    productName, 
    msrp, 
    priceEach
FROM
    products p
        INNER JOIN
    orderdetails o ON p.productcode = o.productcode
        AND p.msrp > o.priceEach
WHERE
    p.productcode = 'S10_1678'
""")

# 2. LEFT JOIN
<img src="http://www.mysqltutorial.org/wp-content/uploads/2011/05/mysql-left-join-Venn-diagram-300x183.png" />

<img src="http://www.mysqltutorial.org/wp-content/uploads/2017/07/MySQL-Join-left-join-illustration.png" />

<img src="http://www.mysqltutorial.org/wp-content/uploads/2009/12/customers_orders_tables.png" />

In [4]:
run("""
SELECT
 c.customerNumber,
 c.customerName,
 orderNumber,
 o.status
FROM
 customers c
LEFT JOIN orders o ON c.customerNumber = o.customerNumber
""")

     customerNumber                    customerName  orderNumber      status
0               103               Atelier graphique      10123.0     Shipped
1               103               Atelier graphique      10298.0     Shipped
2               103               Atelier graphique      10345.0     Shipped
3               112              Signal Gift Stores      10124.0     Shipped
4               112              Signal Gift Stores      10278.0     Shipped
5               112              Signal Gift Stores      10346.0     Shipped
6               114      Australian Collectors, Co.      10120.0     Shipped
7               114      Australian Collectors, Co.      10125.0     Shipped
8               114      Australian Collectors, Co.      10223.0     Shipped
9               114      Australian Collectors, Co.      10342.0     Shipped
10              114      Australian Collectors, Co.      10347.0     Shipped
11              119               La Rochelle Gifts      10275.0     Shipped
12              119               La Rochelle Gifts      10315.0     Shipped
13              119               La Rochelle Gifts      10375.0     Shipped
14              119               La Rochelle Gifts      10425.0  In Process
15              121              Baane Mini Imports      10103.0     Shipped
16              121              Baane Mini Imports      10158.0     Shipped
17              121              Baane Mini Imports      10309.0     Shipped
18              121              Baane Mini Imports      10325.0     Shipped
19              124    Mini Gifts Distributors Ltd.      10113.0     Shipped
20              124    Mini Gifts Distributors Ltd.      10135.0     Shipped
21              124    Mini Gifts Distributors Ltd.      10142.0     Shipped
22              124    Mini Gifts Distributors Ltd.      10182.0     Shipped
23              124    Mini Gifts Distributors Ltd.      10229.0     Shipped
24              124    Mini Gifts Distributors Ltd.      10271.0     Shipped
25              124    Mini Gifts Distributors Ltd.      10282.0     Shipped
26              124    Mini Gifts Distributors Ltd.      10312.0     Shipped
27              124    Mini Gifts Distributors Ltd.      10335.0     Shipped
28              124    Mini Gifts Distributors Ltd.      10357.0     Shipped
29              124    Mini Gifts Distributors Ltd.      10368.0     Shipped
..              ...                             ...          ...         ...
320             459                Warburg Exchange          NaN        None
321             462                FunGiftIdeas.com      10166.0     Shipped
322             462                FunGiftIdeas.com      10321.0     Shipped
323             462                FunGiftIdeas.com      10388.0     Shipped
324             465             Anton Designs, Ltd.          NaN        None
325             471    Australian Collectables, Ltd      10193.0     Shipped
326             471    Australian Collectables, Ltd      10265.0     Shipped
327             471    Australian Collectables, Ltd      10415.0    Disputed
328             473              Frau da Collezione      10157.0     Shipped
329             473              Frau da Collezione      10218.0     Shipped
330             475     West Coast Collectables Co.      10199.0     Shipped
331             475     West Coast Collectables Co.      10215.0     Shipped
332             477             Mit Vergnügen & Co.          NaN        None
333             480       Kremlin Collectables, Co.          NaN        None
334             481              Raanan Stores, Inc          NaN        None
335             484      Iberia Gift Imports, Corp.      10184.0     Shipped
336             484      Iberia Gift Imports, Corp.      10303.0     Shipped
337             486    Motor Mint Distributors Inc.      10109.0     Shipped
338             486    Motor Mint Distributors Inc.      10236.0     Shipped
339             486    Motor Mint Distributors Inc.      10331.0     Shipped
340             487        Signal Collectibles Ltd.      10149.0     Shipped
341             487        Signal Collectibles Ltd.      10219.0     Shipped
342             489  Double Decker Gift Stores, Ltd      10186.0     Shipped
343             489  Double Decker Gift Stores, Ltd      10213.0     Shipped
344             495            Diecast Collectables      10207.0     Shipped
345             495            Diecast Collectables      10243.0     Shipped
346             496               Kelly's Gift Shop      10138.0     Shipped
347             496               Kelly's Gift Shop      10179.0   Cancelled
348             496               Kelly's Gift Shop      10360.0     Shipped
349             496               Kelly's Gift Shop      10399.0     Shipped

[350 rows x 4 columns]

In [5]:
run("""
SELECT 
    c.customerNumber, 
    c.customerName, 
    orderNumber, 
    o.status
FROM
    customers c
        LEFT JOIN
    orders o ON c.customerNumber = o.customerNumber
WHERE
    orderNumber IS NULL
""")

    customerNumber                    customerName orderNumber status
0              125              Havel & Zbyszek Co        None   None
1              168          American Souvenirs Inc        None   None
2              169               Porto Imports Co.        None   None
3              206      Asian Shopping Network, Co        None   None
4              223                 Natürlich Autos        None   None
5              237                   ANG Resellers        None   None
6              247        Messner Shopping Network        None   None
7              273               Franken Gifts, Co        None   None
8              293               BG&E Collectables        None   None
9              303                Schuyler Imports        None   None
10             307                Der Hund Imports        None   None
11             335       Cramer Spezialitäten, Ltd        None   None
12             348           Asian Treasures, Inc.        None   None
13             356            SAR Distributors, Co        None   None
14             361                 Kommission Auto        None   None
15             369          Lisboa Souveniers, Inc        None   None
16             376           Precious Collectables        None   None
17             409  Stuttgart Collectable Exchange        None   None
18             443        Feuer Online Stores, Inc        None   None
19             459                Warburg Exchange        None   None
20             465             Anton Designs, Ltd.        None   None
21             477             Mit Vergnügen & Co.        None   None
22             480       Kremlin Collectables, Co.        None   None
23             481              Raanan Stores, Inc        None   None

## WHERE vs ON

In [7]:
run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails USING (orderNumber)
WHERE
    orderNumber = 10123
""")

   orderNumber  customerNumber productCode
0        10123             103    S18_1589
1        10123             103    S18_2870
2        10123             103    S18_3685
3        10123             103    S24_1628

In [10]:
run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails d ON o.orderNumber = d.orderNumber
        AND o.orderNumber = 10123
""")

     orderNumber  customerNumber productCode
0          10123             103    S18_1589
1          10123             103    S18_2870
2          10123             103    S18_3685
3          10123             103    S24_1628
4          10298             103        None
5          10345             103        None
6          10124             112        None
7          10278             112        None
8          10346             112        None
9          10120             114        None
10         10125             114        None
11         10223             114        None
12         10342             114        None
13         10347             114        None
14         10275             119        None
15         10315             119        None
16         10375             119        None
17         10425             119        None
18         10103             121        None
19         10158             121        None
20         10309             121        None
21         10325             121        None
22         10113             124        None
23         10135             124        None
24         10142             124        None
25         10182             124        None
26         10229             124        None
27         10271             124        None
28         10282             124        None
29         10312             124        None
..           ...             ...         ...
299        10242             456        None
300        10319             456        None
301        10126             458        None
302        10214             458        None
303        10348             458        None
304        10166             462        None
305        10321             462        None
306        10388             462        None
307        10193             471        None
308        10265             471        None
309        10415             471        None
310        10157             473        None
311        10218             473        None
312        10199             475        None
313        10215             475        None
314        10184             484        None
315        10303             484        None
316        10109             486        None
317        10236             486        None
318        10331             486        None
319        10149             487        None
320        10219             487        None
321        10186             489        None
322        10213             489        None
323        10207             495        None
324        10243             495        None
325        10138             496        None
326        10179             496        None
327        10360             496        None
328        10399             496        None

[329 rows x 3 columns]

# 3. RIGHT JOIN

<img src="http://www.mysqltutorial.org/wp-content/uploads/2017/07/MySQL-Join-right-join-illustration.png" />

In [11]:
run("""
SELECT 
    concat(e.firstName,' ', e.lastName) salesman, 
    e.jobTitle, 
    customerName
FROM
    employees e
        RIGHT JOIN
    customers c ON e.employeeNumber = c.salesRepEmployeeNumber
        AND e.jobTitle = 'Sales Rep'
ORDER BY customerName
""")

             salesman   jobTitle                        customerName
0    Gerard Hernandez  Sales Rep                        Alpha Cognac
1      Foon Yue Tseng  Sales Rep              American Souvenirs Inc
2     Pamela Castillo  Sales Rep                  Amica Models & Co.
3                None       None                       ANG Resellers
4         Andy Fixter  Sales Rep             Anna's Decorations, Ltd
5                None       None                 Anton Designs, Ltd.
6                None       None          Asian Shopping Network, Co
7                None       None               Asian Treasures, Inc.
8    Gerard Hernandez  Sales Rep                   Atelier graphique
9         Andy Fixter  Sales Rep        Australian Collectables, Ltd
10        Andy Fixter  Sales Rep          Australian Collectors, Co.
11        Andy Fixter  Sales Rep         Australian Gift Network, Co
12   Gerard Hernandez  Sales Rep                Auto Associés & Cie.
13        Loui Bondur  Sales Rep                   Auto Canal+ Petit
14    Steve Patterson  Sales Rep             Auto-Moto Classics Inc.
15         Larry Bott  Sales Rep                      AV Stores, Co.
16        Barry Jones  Sales Rep                  Baane Mini Imports
17        Barry Jones  Sales Rep  Bavarian Collectables Imports, Co.
18               None       None                   BG&E Collectables
19        Barry Jones  Sales Rep                Blauer See Auto, Co.
20    Leslie Thompson  Sales Rep                   Boards & Toys Co.
21      Martin Gerard  Sales Rep                         CAF Imports
22     Julie Firrelli  Sales Rep          Cambridge Collectables Co.
23      George Vanauf  Sales Rep      Canadian Gift Exchange Network
24     Julie Firrelli  Sales Rep             Classic Gift Ideas, Inc
25     Foon Yue Tseng  Sales Rep                Classic Legends Inc.
26        Barry Jones  Sales Rep             Clover Collections, Co.
27    Leslie Thompson  Sales Rep        Collectable Mini Designs Co.
28     Julie Firrelli  Sales Rep          Collectables For Less Inc.
29    Leslie Jennings  Sales Rep            Corporate Gift Ideas Co.
..                ...        ...                                 ...
92               None       None                  Raanan Stores, Inc
93        Loui Bondur  Sales Rep                  Reims Collectables
94    Pamela Castillo  Sales Rep                       Rovelli Gifts
95      George Vanauf  Sales Rep   Royal Canadian Collectables, Ltd.
96    Pamela Castillo  Sales Rep                        Royale Belge
97    Pamela Castillo  Sales Rep               Salzburg Collectables
98               None       None                SAR Distributors, Co
99        Loui Bondur  Sales Rep              Saveley & Henriot, Co.
100       Barry Jones  Sales Rep             Scandinavian Gift Ideas
101              None       None                    Schuyler Imports
102   Leslie Jennings  Sales Rep            Signal Collectibles Ltd.
103   Leslie Thompson  Sales Rep                  Signal Gift Stores
104       Andy Fixter  Sales Rep           Souveniers And Things Co.
105              None       None      Stuttgart Collectable Exchange
106        Larry Bott  Sales Rep            Stylish Desk Decors, Co.
107        Larry Bott  Sales Rep                 Suominen Souveniers
108    Foon Yue Tseng  Sales Rep                    Super Scale Inc.
109   Leslie Jennings  Sales Rep                Technics Stores Inc.
110     George Vanauf  Sales Rep             Tekni Collectables Inc.
111   Leslie Jennings  Sales Rep           The Sharp Gifts Warehouse
112        Mami Nishi  Sales Rep             Tokyo Collectables, Ltd
113       Barry Jones  Sales Rep             Toms Spezialitäten, Ltd
114        Larry Bott  Sales Rep                Toys of Finland, Co.
115   Leslie Thompson  Sales Rep                   Toys4GrownUps.com
116        Larry Bott  Sales Rep               UK Collectables, Ltd.
117     Martin Gerard  Sales Rep                     Vida Sport, Ltd
118    Foon Yue Tseng  Sales Rep                     Vitachrome Inc.
119       Barry Jones  Sales Rep            Volvo Model Replicas, Co
120              None       None                    Warburg Exchange
121   Leslie Thompson  Sales Rep         West Coast Collectables Co.

[122 rows x 3 columns]

# 4. CROSS JOIN

<img src="http://www.mysqltutorial.org/wp-content/uploads/2017/07/MySQL-Join-cross-join-illustration.png" />

# 5. Self Join
<img src="http://www.mysqltutorial.org/wp-content/uploads/2013/02/employees_table.png" />

In [ ]:
run("""
SELECT 
    CONCAT(m.lastname, ', ', m.firstname) AS 'Manager',
    CONCAT(e.lastname, ', ', e.firstname) AS 'Direct report'
FROM
    employees e
        INNER JOIN
    employees m ON m.employeeNumber = e.reportsto
ORDER BY manager
""")

In [ ]:
run("""
SELECT 
    IFNULL(CONCAT(m.lastname, ', ', m.firstname),
            'Top Manager') AS 'Manager',
    CONCAT(e.lastname, ', ', e.firstname) AS 'Direct report'
FROM
    employees e
        LEFT JOIN
    employees m ON m.employeeNumber = e.reportsto
ORDER BY manager DESC
""")

In [ ]:
run("""
SELECT 
    c1.city, c1.customerName, c2.customerName
FROM
    customers c1
        INNER JOIN
    customers c2 ON c1.city = c2.city
        AND c1.customername > c2.customerName
ORDER BY c1.city
""")

# Latihan:

### One to many relationship
1. Report the account representative for each customer.
2. Report total payments for Atelier graphique.
3. Report the total payments by date
4. Report the products that have not been sold.
5. List the amount paid by each customer.
6. How many orders have been placed by Herkku Gifts?
7. Who are the employees in Boston?
8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.
9. List the value of 'On Hold' orders.
10. Report the number of orders 'On Hold' for each customer.

### Many to many relationship
1. List products sold by order date.
2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
4. Are there any products that appear on all orders?
5. List the names of products sold at less than 80% of the MSRP.
6. Reports those products that have been sold with a markup of 100% or more (i.e.,  the priceEach is at least twice the buyPrice)
7. List the products ordered on a Monday.
8. What is the quantity on hand for products listed on 'On Hold' orders?